body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    flex: 1;
    background-color: rgb(189, 189, 157);
}
.images{
    display: flex;
    flex-direction: row;
    margin: 40px;
}

.image{
    justify-content: space-between;
    align-items: center;
    border-radius: 20%;
    height: 300px;
    width: 300px;
    padding: 30px;
}